<nav class="navbar" id="navbar">
    <div class="navbar-panel">
        <div class="navbar-brand">
            <h1>Tania´s World</h1>
            <img src="../../assets/icons/tworld_icon.png" class="navbar-logo">
        </div>
        <div class="navbar-navigation">
            <div class="navbar-item">
                <a href="#" class="navbar-button">
                    <img src="assets/icons/CVIcon.svg"  class="button-icon">
                    Mapa
                </a>
            </div>
            <div class="navbar-item">
                <a href="#" class="navbar-button">
                    <img src="assets/icons/CVIcon.svg"  class="button-icon">
                    Taller
                </a>
            </div>
        </div>
    </div>
    <button class="navbar-trigger" aria-label="Abrir navegación">
        MENU
    </button>
</nav>