.navbar {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-220px);
    z-index: 1000;
    width: 220px;
    height: 100vh;
    transition: transform 0.3s ease;
}
.navbar.open {
    transform: translateX(0);
}
.navbar-trigger {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 40px;
    height: 40px;    
    transform: translateY(-50%);
    z-index: 2;
    background: #1B2662;
    border: 2px solid #d6a84f;
    color: #d6a84f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 
        0 4px 0 rgba(0,0,0, 0.35),
        inset 0 1px 0 rgba(255,255,255, 0.08);
    transition: all 0.2s ease;
}
.navbar-trigger:hover{
    background: #2a4b7c;
   
}

.navbar-panel {
    position: absolute;
    width: 220px;
    height: 100%;
    background-image: url("../../assets/images/img-navbar.png");
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 20% 15%;
}
.menu-icon {
    display: inline-block;
    transition: transform 300ms ease;
}

.navbar.open .menu-icon {
    transform: rotate(180deg);
}


.navbar-brand h1{
    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    color: #fde8b7;
    text-align: center;  
    margin: 0 -10 -10 0;
}
.navbar-brand {
    background-color: #192157;
    align-items: center;
    display: flex;    
    flex-direction: column;
    justify-content: center;  
    border-radius: 10%;
    border: 2px solid #0011;
    box-shadow: 4px 4px 4px rgba(0,0,0, 0.6);   
    width: 90%;
}
.navbar-logo {
    width: 50%;
}
.navbar-button{
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;   
    pointer-events: auto;
    display: flex;
    text-decoration: none;
    background-color: #192157;
    color: white;
    padding: 4px 4px;
    border-radius: 10%;
    width: 85%;
    align-items: center;
    border-top: 1px solid #d6a84f;
    border-bottom: 1px solid #d6a84f;
}
.navbar-button:hover{
    box-shadow: 0 0 10px #fff;
    transition: 0.2s;
}
.navbar-navigation {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}
.navbar-item {
    margin-bottom: 3%;
    align-items: center;
    padding: 5px 0;
}
.nav-button-icon{
    width: 30%;
}