html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.world-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.world-layer {
    width: 100%;
    height: 100%;
}

.img-base {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.maintenance-layer {
    position: absolute;
    top: 58%;
    left: 35%;
}
.img-maintBoard {
    width: 100%;
}
.maintenance-content {
    position: relative;
    width: 25%;
}
.maintenance-title {   
    font-family: "Amaranth", sans-serif;
    color:  #210f38;
    font-style: normal;
    position: absolute;
    font-weight: 400;
    top: 17%;
    left: 34%;
    font-size: .8vw;
    transform: rotate(4deg);
}
.maintenance-text { 
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    position: absolute;
    top: 28%;
    left: 30%;
    width: 45%;
    font-size: .4vw;
    transform: rotate(4deg);
}
.maintenance-actions {
    position: absolute;
    display: flex;
    top: 50%;
    left: 39%;
    gap: 10px;
    font-size: .4vw;   
    transform: rotate(4deg);  
}

.maintenance-button {
    pointer-events: auto;
    display: flex;
    text-decoration: none;
    background-color: #192157;
    color: white;
    padding: 4px 4px;
    border-radius: 10%;
    width: 50%;
    align-items: center;
    font-family: "Viga", sans-serif;   
}

.maintenance-button:hover {
   box-shadow: 0 0 10px #7a4029;
   transition: 0.2s;
}

.button-icon {
    width: 15px;
}

.builders-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.img-builders {
    position: absolute;
    width: 7%;
    top: 70%;
    left: 57%;
    transform: rotate(-10deg);  
}
.tree-layer{
    position: absolute;
    top: 47%;
    left: 44%;
}
.img-tree{    
    width: 20%;
}
.workshop-layer{
    position: absolute;
    top: 72%;
    left: 63%;
}
.img-workshop{    
    width: 38%;
}
